{% extends 'main/base.html'%}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'main/css/main.css'%}">
<link rel="stylesheet" href="{% static 'cart/css/cart.css'%}">
<link rel="stylesheet" href="{% static 'main/css/main_media.css'%}">
{% endblock %}
{% block title%}{{excursion.name}}{% endblock %}
{% block content %}
<header>
    <div class="container">
        <div class="cart__header">

        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="cart__content">
            <div class="menu__mobile">
                <div class="menu__mobile_burger">
                    <div class="menu_mobile_inner">
                        <div class="nemu_burger_lines"></div>
                    </div>
                </div>
                 <div class="menu__mobile_burger">
                        <div class="menu_mobile_inner">
                            <div class="nemu_burger_lines"></div>
                        </div>
                    </div>
                    <div class="mobile__menu-nav">

                        <div class="mobile__menu_nav_list">
                            <a class="mobile__menu_logo" href="/">
                                <img class="mobile__menu_logo-img" src="{% static 'main/img/logo.png' %}">
                            </a>
                            <a href="#" class="mobile__menu_btn">
                                <div class="mobile__cross"></div>
                            </a>
                            <a class="mobile__menu_link" href="#">Контакты</a>
                            <a class="mobile__menu_link" href="#">О нас</a>
                            <a class="mobile__menu_link" href="{% url 'excursions'%}">Маршруты</a>
                            <a class="mobile__menu_link" href="{% url 'gallery'%}">Что посмотреть?</a>
                        </div>

                    </div>

                <div class="mobile__menu-nav">
                    <div class="mobile__menu_nav_list">
                        <a class="mobile__menu_logo" href="/">
                            <img class="mobile__menu_logo-img" src="{% static 'main/img/logo.png' %}">
                        </a>
                        <a href="#" class="mobile__menu_btn">
                            <div class="mobile__cross"></div>
                        </a>
                        <a class="mobile__menu_link" href="{% url 'main'%}">Главная</a>
                        <a href="#" class="mobile__menu_link">Контакты</a>
                        <a class="mobile__menu_link" href="{% url 'excursions'%}">Экскурсии</a>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'cart' request.user.id %}" class="cart_link js_cart_link">
                            <img class="cart_img" src="{% static 'main/img/shoppingcart.svg' %}">
                        </a>
                        {% else %}
                        <a href="#scroll_phone" class="cart_link js_cart_check_phone">
                            <img class="cart_img" src="{% static 'main/img/shoppingcart.svg' %}">
                        </a>
                        {% endif %}
                    </div>
                </div>

            </div>
            <nav class="menu">
                <a href="#" class="menu__link">
                    <img class="logo__img" src="{% static 'main/img/logo.png'%}">
                </a>
                <ul class="menu__list">
                    <li class="menu__item"><a href="{% url 'main'%}" class="menu__link">Главная</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
                    <li class="menu__item"><a href="{% url 'excursions'%}" class="menu__link">Экскурсии</a></li>
                    <li class="menu__item">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'cart' request.user.id %}" class="cart_link js_cart_link">
                            <img class="cart_img" src="{% static 'main/img/shoppingcart.svg' %}">
                        </a>
                        {% else %}
                        <a href="#" class="cart_link js_cart_check_phone">
                            <img class="cart_img" src="{% static 'main/img/shoppingcart.svg' %}">
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <h3 class="cart_title">Корзина</h3>
            <div class="cart_container">
                <h1 class="cart__title">{{ cart.user}}</h1>
                {% if item_products %}
                <div class="cart_item_block">
                    {% for item in item_products%}
                    <div class="cart_item_row">
                        <p class="cart_item_name">{{item.item}}</p>
                        {% if item.custom_price %}
                        <p class="cart_item_name">{{item.custom_price}}</p>
                        <div class="count_human_block js_cart_delete" data-value="{{item.id}}">
                            <div class="count_human_delete ">удалить</div>
                        </div>
                        {% else %}
                        <p class="cart_item_name">{{item.item.price}}</p>
                        <div class="count_human_block">

                            <div class="count_human_plus js_cart_plus" data-value="{{item.id}}"></div>
                            <div class="count_human_window js_count_human_{{item.id}}">{{item.count}}</div>
                            <div class="count_human_minus js_cart_minus" data-value="{{item.id}}"></div>

                        </div>
                        {% endif %}

                    </div>
                    {% endfor %}
                </div>
                <p class="cart__title">сумма к оплате</p>
                <p class="cart_total_sum">{{cart.total_price}}</p>

                <style>.tinkoffPayRow{display:block;margin:1%;width:160px;}</style>
                <script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js"></script>
                <form name="TinkoffPayForm" onsubmit="pay(this); return false;">
                    <input class="tinkoffPayRow" type="hidden" name="terminalkey" value="TinkoffBankTest">
                    <input class="tinkoffPayRow" type="hidden" name="frame" value="true">
                    <input class="tinkoffPayRow" type="hidden" name="language" value="ru">
                    <input class="tinkoffPayRow" type="hidden" placeholder="Сумма заказа" name="amount" required value="{{cart.total_price}}">
                    <input class="tinkoffPayRow" type="hidden" placeholder="Номер заказа" name="order" value="#">
                    <input class="tinkoffPayRow" type="hidden" placeholder="Описание заказа" name="description">
                    <input class="tinkoffPayRow" type="hidden" placeholder="ФИО плательщика" name="name">
                    <input class="tinkoffPayRow" type="hidden" placeholder="E-mail" name="email">
                    <input class="tinkoffPayRow" type="hidden" placeholder="Контактный телефон" name="phone" value="{{cart.user}}">
                    <input class="tinkoffPayRow step_to_pay" type="submit" value="перейти к оплате">
                </form>

                {% else %}
                <h1 class="cart__title">корзина пуста</h1>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'excursions/js/coin_pay.js' %}"></script>
<script type="text/javascript" src="{% static 'cart/js/cart.js' %}"></script>
{% endblock %}