{% extends 'main/base.html'%}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'main/css/main.css'%}">
<link rel="stylesheet" href="{% static 'excursions/css/excursions.css'%}">
<link rel="stylesheet" href="{% static 'excursions/css/gallery.css'%}">
<link rel="stylesheet" href="{% static 'main/css/main_media.css'%}">
{% endblock %}
{% block title%}Экскурсии{% endblock %}
{% block content %}

<main>
    <div class="container">
        <div class="excursion">
            <div class="phone">
                <div class="inner_popup"></div>
                <div class="phone__form">
                    <label for="phone">укажите свой номер телефона</label>
                    <input id="phone" type="text" class="phone__input" placeholder="79998887766">
                    <div class="phone_btn" name="phone_form">подтвердить</div>
                </div>
                <div class="code">
                    <div class="code__wrapper">
                        <p class="code__description">В течение 30 секунд, Вам придёт СМС с 4-х значным кодом, введите его в
                            поле под этим текстом.
                            Тем самым Вы подтвердите свой номер телефона.</p>
                        <input id="user_phone" type="hidden" maxlength="4" class="phone__input">
                        <input id="code" type="text" maxlength="4" class="phone__input limitInput">
                        <p class="text__error"></p>
                    </div>
                </div>
            </div>
            <div class="menu__mobile">
                <div class="menu__mobile_burger">
                    <div class="menu_mobile_inner">
                        <div class="nemu_burger_lines"></div>
                    </div>
                </div>

                <div class="mobile__menu-nav">
                    <div class="mobile__menu_nav_list">
                        <a class="mobile__menu_logo" href="/">
                            <img class="mobile__menu_logo-img" src="{% static 'main/img/logo.png' %}">
                        </a>
                        <a href="#" class="mobile__menu_btn">
                            <div class="mobile__cross"></div>
                        </a>
                        <a class="mobile__menu_link" href="#">Контакты</a>
                        <a class="mobile__menu_link" href="#">О нас</a>
                        <a href="#" class="mobile__menu_link">Контакты</a>
                        <a class="mobile__menu_link" href="{% url 'gallery'%}">Что посмотреть?</a>
                    </div>
                </div>

            </div>
            <nav class="menu">
                <a href="#" class="menu__link">
                    <img class="logo__img" src="{% static 'main/img/logo.png'%}">
                </a>
                <ul class="menu__list">
                    <li class="menu__item"><a href="{% url 'main'%}" class="menu__link">Главная</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
                    <li class="menu__item"><a href="#" class="menu__link">О нас</a></li>
                    <li class="menu__item"><a href="{% url 'gallery'%}" class="menu__link">Что посмотреть?</a></li>
                    <li class="menu__item">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'cart' request.user.id %}" class="cart_link js_cart_link">
                            <img class="cart_img" src="{% static 'main/img/shoppingcart.svg' %}">
                        </a>
                        {% else %}
                        <a href="#" class="cart_link js_cart_check_phone">
                            <img class="cart_img" src="{% static 'main/img/shoppingcart.svg' %}">
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <section class="point__content">
                <h2 class="excursion__title">Выберите маршрут</h2>
                <ul class="query__excursion">
                    {% for excursion in excursions %}
                    {% if excursion.custom %}
                    <li class="query__excursion_item">
                        <div class="query__excursion_link">

                            <img src="{% get_media_prefix %}{{excursion.photo}}" class="query__excursion_img">
                            <p class="query__excursion_text"><b>{{excursion.name}}</b></p>

                            <div class="custom__price_block">
                                <p class="custom__text">укажите сумму</p>
                                <p class="custom_text">минимум 3000</p>
                                {% if request.user.is_authenticated %}
                                <input class="custom__price_input js_custom_input">
                                {% else %}
                                <input class="custom__price_input js_cart_check_phone">
                                {% endif %}

                            </div>
                            <div class="qyery__excursion_add_to_cart js_btn_add_to_cart" data-value="{{excursion.id}}">Добавить в корзину</div>
                        </div>
                    </li>
                    {% else %}
                    <li class="query__excursion_item">
                        <div class="query__excursion_link ">
                            <img src="{% get_media_prefix %}{{excursion.photo}}" class="query__excursion_img">
                            <p class="query__excursion_text"><b>{{excursion.name}}</b></p>
                            <div class="query__excursion_price">{{excursion.price}} руб.</div>
                            <p class="custom__text">кол-во жетонов</p>
                            <div class="count_human_block">
                                {% if request.user.is_authenticated %}
                                <div class="count_human_plus js_button_plus"></div>
                                <div class="count_human_window js_count_human">0</div>
                                <div class="count_human_minus js_button_minus"></div>
                                {% else %}
                                <div class="count_human_plus js_cart_check_phone"></div>
                                <div class="count_human_window js_count_human">0</div>
                                <div class="count_human_minus js_cart_check_phone"></div>
                                {% endif %}
                            </div>
                            <a href="{% url 'excursion_item' excursion.id %}" class="query__excursion_text">{{ excursion.description|slice:"200" }}{% if excursion.description|length > 200 %}...{% endif %}</a>
                            <div class="qyery__excursion_add_to_cart js_btn_add_to_cart" data-value="{{excursion.id}}">Добавить в корзину</div>

                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
</main>

{% endblock%}

{%block scripts %}
<script type="text/javascript" src="{% static 'excursions/js/excursions.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
{% endblock %}